body {
  background: url("../images/david-straight-341873-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 100vh;
}

.container-fluid {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.1));
  min-height: 100vh;
  padding-top: 120px;
}

.jumbotron {
  background: black;
  text-align: center;
  margin-bottom: 0;
  height: 100px;
  padding-top: 17px;
  padding-left: 0px;
  padding-right: 0px;
  border-radius: 0;
}

.rating-info {
  font-size: 25px;
  color: white;
}

#uberX-time,
#uberX-price {
  color: black;
}

.card {
  border: none;
}

h4 {
  color: white;
}

#bar-card {
  background-color: black;
}

.error-button {
  background-color: #dc3545;
  color: white;
}

.result {
border: none;
}

#uberXL-time,
#uberXL-price,
#uberBlack-time,
#uberBlack-price,
#google-distance,
#google-time,
#no-results {

  color: white;
}

.hidden {
  display: none;
}

.logo {
  text-align: center;
  height: 100px;
  font-family: "Dancing Script", cursive;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.logo b {
  font: 150px "Dancing Script";
  font-weight: 600;
  color: #fee;
  text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #ff4444, 0 0 0.5em #ff4444,
    0 0 0.1em #ff4444, 0 10px 3px #000;
}

.logo b span {
  animation: blink linear infinite 2s;
}

@keyframes blink {
  78% {
    color: inherit;
    text-shadow: inherit;
  }
  79% {
    color: #333;
  }
  80% {
    text-shadow: none;
  }
  81% {
    color: inherit;
    text-shadow: inherit;
  }
  82% {
    color: #333;
    text-shadow: none;
  }
  83% {
    color: inherit;
    text-shadow: inherit;
  }
  92% {
    color: #333;
    text-shadow: none;
  }
  92.5% {
    color: inherit;
    text-shadow: inherit;
  }
}

@media screen and (max-width: 640px) {
  .logo b {
    font: 100px "Dancing Script";
    font-weight: 600;
    color: #fee;
    text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #ff4444, 0 0 0.5em #ff4444,
      0 0 0.1em #ff4444, 0 10px 3px #000;
    text-align: center;
    padding-left: none;
  }
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromBottom {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

.result {
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-name: slideInFromLeft;
}
.card {
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-name: slideInFromBottom;
}