.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 110px;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

#close-button {
 align-self: right;
}

.jumbotron {
  text-align: center;
  margin-bottom: 10px;
}

#open-nav {
  padding: 5px 20px 20px 20px;
}